target/
node_modules/
.vscode/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

coverage
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
docs
*debug.log*
yarn.lock
.DS_Store
/.jhipster
.favorites.json

.nyc_output/
