name: Smoke tests
on: ['push', 'pull_request']
env:
  JHI_SCRIPTS: ./test-integration/scripts
  JHI_PROFILE: dev
jobs:
  applications:
    name: ${{ matrix.app }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        node_version: [ 14.15.0 ]
        os: [ ubuntu-20.04 ]
        app:
          - maven-default
          - maven-postgres-redis
          - gradle-default
          - gradle-oracle-hazelcast
    env:
      JHI_APP: ${{ matrix.app }}
    steps:
      - name: 'SETUP: Checkout generator-jhipster-entando'
        uses: actions/checkout@v2
      - name: 'SETUP: Java version'
        uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - name: 'SETUP: NodeJs version'
        uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ matrix.node_version }}
      - name: 'ENV: Git history'
        run: git --no-pager log -n 10 --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) <%an>%Creset' --abbrev-commit
      - name: 'SETUP: Prepare JHipster env'
        run: $JHI_SCRIPTS/01-install-global-jhipster.sh
      - name: 'SETUP: Prepare project'
        run: $JHI_SCRIPTS/02-prepare-project.sh $JHI_APP
      - name: 'GENERATION: JHipster Application'
        run: $JHI_SCRIPTS/03-generate-project.sh $JHI_APP
      - name: 'RUN: Docker compose'
        run: $JHI_SCRIPTS/04-docker-compose.sh $JHI_APP
      - name: 'TESTS: backend'
        run: $JHI_SCRIPTS/05-run-server-tests.sh $JHI_APP
      - name: 'TESTS: widgets tests'
        run: $JHI_SCRIPTS/06-run-widgets-tests.sh $JHI_APP
      - name: 'PACKAGE: backend application'
        run: $JHI_SCRIPTS/07-package-backend-app.sh $JHI_APP
      - name: 'RUN: Start backend app'
        run: $JHI_SCRIPTS/08-start-backend-app.sh $JHI_APP
      - name: 'E2E: Run widgets'
        id: e2e
        run: $JHI_SCRIPTS/09-run-widgets-e2e.sh $JHI_APP
      - name: 'E2E: Store failure screenshots'
        uses: actions/upload-artifact@v2
        if: always() && steps.e2e.outcome == 'failure'
        with:
          name: screenshots-${{ matrix.app }}
          path: /home/runner/app/ui/widgets/**/target/cypress/screenshots/
